.debugger {
    font-family: "IBM Mono", Courier, monospace;
    background: black;
    color: white;
    padding: 0.5em;
}

.debugger p {
    margin: 0.25em;
}

.debugger .rstack-entry,
.debugger .rstack-entry span {
    overflow-x: auto;
    --color: white;
    color: var(--color);
    background: black;
    white-space: nowrap;
}

.debugger .rstack-entry .pointer,
.debugger .rstack-entry .pointer span {
    background: var(--color, white);
    color: black;
}

.debugger button {
    font-family: "IBM Mono", Courier, monospace;
    background: #ddd;
    color: black;
    border: none;
    margin: none;
    padding: none;
    font-size: inherit;
}

.debugger button:hover,
.debugger button:active {
    background: white;
}
